PORT=4000
MONGODB_URI= mongodb+srv://ikaaouane_db_user:CTaxCuV4Kg9NekHR@cluster0.b1gfmny.mongodb.net/?appName=Cluster0
CLIENT_ORIGIN=http://localhost:5173
SIMULATION_TICK_MS=1000
SNAPSHOT_INTERVAL_MS=3600000
REMINDER_INTERVAL_HOURS=4
